flake8>=7.0.0,<8.0.0
# 하지만 requirements.dev.txt는 다음과 같은 점에서 requirements.txt와 차별화됩니다.
# 개발 전용 패키지 포함: 테스트, 코드 형식 검사, 문서 작성 등 개발 과정에서만 필요한 패키지를 포함합니다.
# 프로덕션 환경에 설치 불필요: requirements.dev.txt 파일에 포함된 패키지는 프로덕션 환경에 배포되는 이미지에는 포함되지 않습니다.
# 개발 환경 관리 용이: 개발자마다 또는 특정 작업에 따라 필요한 패키지가 다를 수 있으므로 
# requirements.dev.txt를 사용하여 개발 환경을 별도로 관리할 수 있습니다.